/* .project {} */
.project-container {
    padding: 1rem;
    position: relative;
    max-width: 82vw;
    overflow: hidden;
    z-index: var(--midZindex);
}   

.projeact-titlebox {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--whiteColor);
}

.project-title {
    font-size: 2.5rem;
}


.num {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    color: var(--whiteColor);
}

.project-content {
    padding: 1rem;
    position: absolute;
    color: var(--whiteColor);
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
    opacity: 1;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mist {
    opacity: 0.2;
    transition: all 0.5s linear;
}

.off {
    position: absolute;
    bottom: 0;
    left: 100%;
    max-width: max-content;
    height: 50%;
    transition: all 0.5s linear;
}

.project-desc {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.project-title_box {
    font-size: 4.1vw;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.title-num {
    font-family: var(--korFont);
    font-size: 5vw;
}

.project-desc-title {
    font-size: 1.5rem;
}

.project-desc-p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.project-btnbox {
    margin: 1rem 0;
    display: flex;
    column-gap: 0.5rem;
}

.project-btn {
    padding: 1rem 1.2rem;
    border-radius: 16% 21% 40% 20%;
    border: 1px solid var(--whiteColor);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    transition: 0.3s linear;
}

.project-btn:hover {
    border-radius: 20% 31% 16% 40%;
    transition: 0.3s linear;
}

/* slick-slider */
.slick-slider {
    max-width: 75vw;
    margin: 0 auto;
}


/* media query */
@media screen and (max-width: 1050px) {
    .project-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .project-content {
        row-gap: 0.75rem;
    }
    .project-desc-title {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 564px) {
    .project {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .project-container {
        max-width: 97vw;
        height: max-content;
    }
    .project-content {
        height: 100%;
        max-width: 100%;
    }
    .slick-slider {
        max-width: 97vw;
    }
    .project-desc-p {
        display: none;
    }
    .project-desc-title {
        font-size: 1rem;
    }
    .project-title_box {
        font-size: 1.2rem;
        column-gap: 0.5rem;
    }
    .project-desc-p {
        font-size: 0.95rem;
        text-indent: 1.5px;
    }
    .project-btn {
        font-size: 0.9rem;
    }
}