.grid-container {
    overflow: scroll;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
    max-width: 92vw;
}

.project-card {
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.51);
}

.project-card p {
    color: var(--whiteColor);
}

@media screen and (max-width: 564px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}