.scroll-arr {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    z-index: var(--midZindex);
    background: var(--ligthBlackBackground);
    transition: all 0.5s linear;
    overflow: hidden;
    border-radius: 6px;
}

.scroll-up {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 12px 16px;
    color: #fff;
    background: #222222;
    font-weight: 700;
    font-size: 15px;
    z-index: var(--midZindex);
}

.scroll-up .scroll-text {
    display: flex;
    column-gap: 0.35rem;
    align-items: center;
}

.scroll-up::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #384345;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-122%) translateY(-9%) rotate(12deg);
    z-index: -100;
}

.scroll-up:hover::after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-22%) translateY(-25%) rotate(45deg);
}

.scrollup-show {
    bottom: 3.5rem;
    transition: all 0.4s linear;
}

/* media query */
@media screen and (max-width: 1024px) {
    .scroll-arr {
        right: 1rem;
    }
  }
  @media screen and (max-width: 768px) {
   .scrollup-show {
        bottom: 93%;
    }
  }
  @media screen and (max-width: 380px) {
    .scroll-up {
        right: 1rem;
    }
  }