.landingpage {
  background: var(--whiteColor);
  width: 90vw;
  margin: 0 auto;
  height: 90vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3px;
}

.landing-img {
  width: 100%;
  height: 100%;
  background: url(../../assets/image/LandingImg/landingimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 2.5rem;
  padding-left: 10rem;
  height: 100%;
}

.link-btn {
  display: flex;
  border: 1px solid #ccc;
  padding: 1.2rem 2.5rem;
  width: 180px;
  background: skyblue;
  border-radius: 3px;
}

.link {
  color: var(--whiteColor);
  font-size: 1.2rem;
}

.maintext h3 {
  font-size: 4rem;
  font-weight: 500;
}

.maintext span {
  font-weight: 700;
  font-size: 5rem;
}

.midtext h4 {
  position: relative;
  font-size: 4rem;
  font-weight: 500;
}

.midtext span {
  font-size: 3.5rem;
}

.midtext {
  position: relative;
}

.midtext::before {
  content: "";
  width: 200px;
  height: 1px;
  top: 0;
  background: #000;
  position: absolute;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.social .social-icons {
  color: #000;
  font-size: 2rem;
}

/* media query */
@media screen and (max-width: 768px) {
  .landingpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 95vw;
    height: 99vh;
    border-radius: 9px;
  }

  .mainimg {
    height: 100%;
  }

  .landing-text {
    margin-top: -5rem;
    padding: 0 1rem;
    row-gap: 0.5rem;
  }
  .maintext h3 {
    font-size: 2.25rem;
    font-weight: 500;
  }
  
  .maintext span {
    font-weight: 700;
    font-size: 2.6rem;
  }
  
  .midtext h4 {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .midtext span {
    font-size: 1.78rem;
  }
  .social {
    column-gap: 1.5rem;
  }
  .social .social-icons {
    font-size: 1.2rem;
  }
  .link-btn {
    position: absolute;
    right: 20px;
    bottom: 20%;
  }
}